extends layout

block content
  h1(class='title') Бахтиярро
  p Добро пожаловать в ресторан #[em Бахтиярро], высоты вкуса итальянско кухни поглатят изнутри ваши желудки!

  div(class='button', onclick="location.href='/restoran/stols';") Забронировать стол

